.container-fluid {
/*     background-color: rgb(22, 84, 255); */
    text-align: center;
    padding: 40px;
    background-image: url(/fondo.jpg);
}

.container, .list-group {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}

.list-group {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .list-group {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (min-width: 992px) {
    .list-group {
        padding-left: 300px;
        padding-right: 300px;
    }
}



.headerText{
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;
}
.subtitle {
    font-size: large;
}

.btn {
    background-color: rgb(42, 149, 211);
    border: 1px solid rgb(42, 149, 211);
    margin: auto;
}

p {
    text-align: center;
}

#demoA {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 50%;
}
ul {
    list-style-type: none;
    margin: 1rem -15px 0;
    padding: 1.5rem;
}
li {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}