.container-fluid {
/*     background-color: rgb(22, 84, 255); */
    text-align: center;
    padding: 40px;
    background-image: url(/fondo.jpg);
}

.container, .list-group {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}

.list-group {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .list-group {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (min-width: 992px) {
    .list-group {
        padding-left: 300px;
        padding-right: 300px;
    }
}



.headerText{
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;
}
.subtitle {
    font-size: large;
}

.btn {
    background-color: rgb(42, 149, 211);
    border: 1px solid rgb(42, 149, 211);
    margin: auto;
}

p {
    text-align: center;
}

.p1 {
    padding-top: 20px;
}